/* -- Margins -- */

.m-s {
    margin: 0.5em;
}

.m-m {
    margin: 1em;
}

.m-l {
    margin: 1.5em;
}

.m-xl {
    margin: 2em;
}

.mt-s {
    margin-top: 0.5em;
}

.mt-m {
    margin-top: 1em;
}

.mt-l {
    margin-top: 1.5em;
}

.mt-xl {
    margin-top: 2em;
}

.mb-s {
    margin-bottom: 0.5em;
}

.mb-m {
    margin-bottom: 1em;
}

.mb-l {
    margin-bottom: 1.5em;
}

.mb-xl {
    margin-bottom: 2em;
}

.ml-s {
    margin-left: 0.5em;
}

.ml-m {
    margin-left: 1em;
}

.ml-l {
    margin-left: 1.5em;
}

.ml-xl {
    margin-left: 2em;
}

.mr-s {
    margin-right: 0.5em;
}

.mr-m {
    margin-right: 1em;
}

.mr-l {
    margin-right: 1.5em;
}

.mr-xl {
    margin-right: 2em;
}

/* -- Padding -- */

.p-s {
    padding: 0.5em;
}

.p-m {
    padding: 1em;
}

.p-l {
    padding: 1.5em;
}

.p-xl {
    padding: 2em;
}

.pt-s {
    padding-top: 0.5em;
}

.pt-m {
    padding-top: 1em;
}

.pt-l {
    padding-top: 1.5em;
}

.pt-xl {
    padding-top: 2em;
}

.pb-s {
    padding-bottom: 0.5em;
}

.pb-m {
    padding-bottom: 1em;
}

.pb-l {
    padding-bottom: 1.5em;
}

.pb-xl {
    padding-bottom: 2em;
}

.pl-s {
    padding-left: 0.5em;
}

.pl-m {
    padding-left: 1em;
}

.pl-l {
    padding-left: 1.5em;
}

.pl-xl {
    padding-left: 2em;
}

.pr-s {
    padding-right: 0.5em;
}

.pr-m {
    padding-right: 1em;
}

.pr-l {
    padding-right: 1.5em;
}

.pr-xl {
    padding-right: 2em;
}

