---
---

<div class="card">
  <slot />
</div>

<style>
  .card {
    margin-top: 2rem;
    padding-top: 1.5rem;
    border-top: 1px solid #ddd;
  }

  .card:first-of-type {
    border-top: none;
    padding-top: 0;
  }
</style>
