---
import Card from './Card.astro';
---

<section class="highlights">
  <h2>📯 What's new?</h2>
  <Card>
    <p>On to the next chapter!</p>
  </Card>
</section>

<style>
  .highlights {
    margin-top: 4rem;
  }

  h2 {
    margin: 0 0 0.5rem 0;
  }

  p {
    font-style: italic;
    color: var(--fg-light);
    margin: 0;
  }
</style>
