---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href}><slot /></a>

<style>
  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: #a00000;
  }
</style>
