---
interface Props {
  name: string;
  flavor: string;
  logistics: string;
}

const { name, flavor, logistics } = Astro.props;
---

<h3 class="name">{name}</h3>
<p class="flavor">{flavor}</p>
<p class="logistics">{logistics}</p>
<div class="content"><slot /></div>

<style>
  .name {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
  }

  .flavor {
    font-style: italic;
    margin: 0 0 0.25rem 0;
  }

  .logistics {
    font-size: 1.1rem;
    color: var(--fg-light);
    margin: 0 0 1rem 0;
  }

  .content :global(p) {
    margin: 0.75rem 0;
  }

  .content :global(p:first-child) {
    margin-top: 0;
  }
</style>
